numpy==1.18.1
json5==0.9.5
jsonschema==3.0.2
nltk==3.5
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-datasets==3.1.0
tensorflow-estimator==2.1.0
tensorflow-metadata==0.21.2
Keras==2.4.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
pickleshare==0.7.5
cloudpickle==1.6.0
textblob==0.15.3
autocorrect==2.3.0
pyspellchecker==0.5.6
dateparser==1.0.0